.note-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
    color: black;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.empty-msg {
  font-style: italic;
  color: gray;
}
